In [15]:
import pandas as pd
import networkx as nx
import numpy as np
import osmnx as ox
import os 
import copy
import pickle
import gzip
os.chdir(r"C:\Users\olive\OneDrive\Dokumenter\GitHub\GRAN\testing")

In [37]:
df = pd.read_csv('list of us cities.csv', index_col=False)
df.head()

   Unnamed: 0           Name  Population  Latitude  Longitude
0       71019  New York City     8175133  40.71427  -74.00597
1       61255    Los Angeles     3971883  34.05223 -118.24368
2       43236        Chicago     2720546  41.85003  -87.65005
3       84523       Brooklyn     2300664  40.65010  -73.94958
4       91965        Houston     2296224  29.76328  -95.36327

In [44]:
point = (df['Latitude'].iloc[0], df['Longitude'].iloc[0])
G = ox.graph_from_point(point, distance=200, network_type='drive')

In [45]:
len(G)

16

In [22]:
G[1059852291][6529513519][0]['length']

79.199

In [24]:
G.nodes(data=True)[1059852291]

{'y': 41.016639, 'x': 28.9494877, 'osmid': 1059852291}

In [25]:
G.nodes(data=True)[6529513519]

{'y': 41.0159363, 'x': 28.9493336, 'osmid': 6529513519}

In [28]:
from math import radians, cos, sin, asin, sqrt 
def distance(lat1, lat2, lon1, lon2): 
      
    # The math module contains a function named 
    # radians which converts from degrees to radians. 
    lon1 = radians(lon1) 
    lon2 = radians(lon2) 
    lat1 = radians(lat1) 
    lat2 = radians(lat2) 
       
    # Haversine formula  
    dlon = lon2 - lon1  
    dlat = lat2 - lat1 
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
  
    c = 2 * asin(sqrt(a))  
     
    # Radius of earth in kilometers. Use 3956 for miles 
    r = 6371
       
    # calculate the result 
    return(c * r) * 1000
      
      
# driver code  
lat1 = 28.9494877
lat2 = 28.9493336
lon1 = 41.016639
lon2 = 41.0159363
print(distance(lat1, lat2, lon1, lon2), "K.M")

70.48773397432979 K.M

In [46]:
eu = pd.read_csv('list of eu cities.csv', index_col=False)
us = pd.read_csv('list of us cities.csv', index_col=False)

In [52]:
for i in range(eu.shape[0]):
    print(us['Name'].iloc[i])

New York City
Los Angeles
Chicago
Brooklyn
Houston
Queens
Philadelphia
Phoenix
Manhattan
San Antonio
San Diego
The Bronx
Dallas
San Jose
Austin
Jacksonville
San Francisco
Columbus
Fort Worth
Indianapolis
Charlotte
Seattle
Denver
El Paso
Detroit
Boston
Memphis
New South Memphis
Portland
Oklahoma City
Las Vegas
Baltimore
Washington
Milwaukee
South Boston
Albuquerque
Tucson
Nashville
Fresno
Sacramento
Kansas City
Long Beach
Mesa
Staten Island
Atlanta
Colorado Springs
Virginia Beach
Raleigh
Omaha
Miami
Oakland
Minneapolis
Tulsa
Wichita
New Orleans
Arlington
Cleveland
Bakersfield
Honolulu
Tampa
Aurora
Anaheim
West Raleigh
Santa Ana
Corpus Christi
Riverside
St. Louis
Lexington-Fayette
Stockton
Pittsburgh
Anchorage
Cincinnati
Meads
Ironville
Henderson
Greensboro
Saint Paul
Plano
Newark
Toledo
Lincoln
Orlando
Chula Vista
Jersey City
Chandler
Fort Wayne
Buffalo
Durham
St. Petersburg
Irvine
Laredo
Lubbock
Madison
Gilbert
Norfolk
Louisville
Reno
Winston-Salem
Glendale
Hialeah